<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" media="screen" href="{{ media_path }}/{% block css %}{{ css }}{% endblock %}.css" />
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block script %}
      <script type="text/javascript" src="{{ media_path }}/wiki.js"></script>
    {% endblock %}
  </body>
</html>
