{% extends "base.html" %}


{% block css %}vt{% endblock %}


{% block body %}
  <div class="root">
    {% if not is_front_page %}
      <hr>
      {% block vt_club %}깉허브 (GITHUB){% endblock %}
      <br>
      제  목: {% block vt_title %}{{ title }}{% endblock %}
      <br>
      <hr>
    {% endif %}
    {% block content %}{{ content }}{% endblock %}
    <hr>
    {% block vt_menu %}{% endblock %}
    <br>
    <div id="cmd">
      <span>선택&gt; </span>
      <span></span>
      <div id="cursor"></div>
    </div>
    <input class="input" type="input">
  </div>
{% endblock body %}


{% block script %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
// http://stackoverflow.com/questions/3758023/how-to-use-this-square-cursor-in-a-html-input-field
var cursor;

$(function() {
  focus();
  $(window).scrollTop(0);
  $('#cmd').click(focus);

  $('input').keyup(function(e) {
    $('#cmd span:last').text($(this).val());
  });
    
  $('input').blur(function() {
     clearInterval(cursor);
     $('#cursor').css({ visibility: 'visible' });    
  });
});


function focus()
{
  $('input').focus();
  cursor = window.setInterval(function() {
  if ($('#cursor').css('visibility') === 'visible') {
    $('#cursor').css({ visibility: 'hidden' });
  } else {
    $('#cursor').css({ visibility: 'visible' });  
  }  
  }, 500);
}


function url_to_go(i) {
  var a = $('#link-'+i);
  if (a.length) {
    var href = a.attr('href');
    if (href) {
      return href;
    }
  }
  return null;
}


$(function() {
  $('input').keyup(function(e) {
    if (e.keyCode == 13)
    {
      var tokens = $(this).val().split(' ');
      if (tokens.length < 1)
        return;
      var cmd = tokens[0].toLowerCase();
      var href = url_to_go(cmd);
      if (href) {
        window.location = href;
        return;
      }

      $(this).val("");
      window.location.reload();
      return;
    }
  });
});
  </script>
{% endblock script %}
